<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">

<!-- <menu id="apps-term-menu" label="Terminals"> -->
<!--   <item label="Alacritty"> -->
<!--     <action name="Execute"> -->
<!--       <command>alacritty</command> -->
<!--     </action> -->
<!--   </item> -->
<!--   <item label="Gnome Terminal"> -->
<!--     <action name="Execute"> -->
<!--       <command>gnome-terminal</command> -->
<!--       <startupnotify> -->
<!--         <enabled>yes</enabled> -->
<!--       </startupnotify> -->
<!--     </action> -->
<!--   </item> -->
<!--   <item label="Xfce Terminal"> -->
<!--     <action name="Execute"> -->
<!--       <command>xfce4-terminal</command> -->
<!--       <startupnotify> -->
<!--         <enabled>yes</enabled> -->
<!--       </startupnotify> -->
<!--     </action> -->
<!--   </item> -->
<!--   <item label="Konsole"> -->
<!--     <action name="Execute"> -->
<!--       <command>konsole</command> -->
<!--       <startupnotify> -->
<!--         <enabled>yes</enabled> -->
<!--       </startupnotify> -->
<!--     </action> -->
<!--   </item> -->
<!--   <item label="Xterm"> -->
<!--     <action name="Execute"><command>xterm</command></action> -->
<!--   </item> -->
<!-- </menu> -->

<menu id="root-menu" label="Openbox 3">
  <separator label="System" />
  <item label="Alacritty">
    <action name="Execute">
      <command>alacritty</command>
    </action>
  </item>
  <item label="st">
    <action name="Execute">
      <command>st</command>
    </action>
  </item>
  <item label="Aseprite">
    <action name="Execute">
      <command>aseprite</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Gimp">
    <action name="Execute">
      <command>gimp</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Thunar">
    <action name="Execute">
      <command>Thunar</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <separator label="Internet" />
  <item label="Chrome">
    <action name="Execute">
      <command>google-chrome-stable</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>Chrome</wmclass>
      </startupnotify>
    </action>
  </item>
  <item label="Slack">
    <action name="Execute">
      <command>slack</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>Slack</wmclass>
      </startupnotify>
    </action>
  </item>
  <item label="Franz">
    <action name="Execute">
      <command>franz</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>franz</wmclass>
      </startupnotify>
    </action>
  </item>
  <item label="Firefox">
    <action name="Execute">
      <command>firefox</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>Firefox</wmclass>
      </startupnotify>
    </action>
  </item>
  <separator label="System" />
  <menu id="system-menu"/>
  <item label="qBittorrent">
    <action name="Execute">
      <command>qbittorrent</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>qbittorrent</wmclass>
      </startupnotify>
    </action>
  </item>
  <item label="VirtualBox">
    <action name="Execute">
      <command>virtualbox</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>virtualbox</wmclass>
      </startupnotify>
    </action>
  </item>
  <item label="VMware">
    <action name="Execute">
      <command>vmplayer</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>vmplayer</wmclass>
      </startupnotify>
    </action>
  </item>
  <item label="BurpSuite">
    <action name="Execute">
      <command>burpsuite</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>burpsuite</wmclass>
      </startupnotify>
    </action>
  </item>
  <item label="Reconf">
    <action name="Execute">
      <command>openbox --reconfigure</command>
    </action>
  </item>
  <item label="Log Out">
    <action name="Exit">
      <prompt>yes</prompt>
    </action>
  </item>
</menu>

</openbox_menu>
